@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>About this website.</h1>
    <p>
        This is a web application I put together. I worked on both the front and back end. The application is written in C#, using a MVC design. I also used Visual Studio 2019 and Github for version control.
        I am going to use this page to list what was used in the creation of this application. If you're looking for the code, feel free to check out the github repo.
    </p>
    <div class="row">
        <div class="col-lg-6">
            <h4>Front End</h4>
            <ul>
                <li>HTML5</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
                <li>Font Awesome</li>
                <li>Jquery</li>
                <li>Summer Note</li>
                <li>Google Fonts</li>
                <li>Sweet Alert</li>
            </ul>
            <h4>Back End</h4>
            <ul>
                <li>ASP.NET MVC, C#</li>
                <li>ASP.NET Core, C#</li>
                <li>PostgreSQL</li>
                <li>Entity Framework</li>
                <li>NuGet Package Manager</li>
                <li>Npgsql</li>
                <li>X.PagedList</li>
                <li>Mailkit</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h4>Features</h4>
            <ul>
                <li>Users and User Registration</li>
                <li>Email Verification</li>
                <li>Password Recovery</li>
                <li>Images</li>
                    <ul><li>Encoding and Decoding Byte Arrays</li></ul>
                <li>Tags</li>
                <li>Custom URL Slug</li>
                <li>List Paging</li>
                <li>Search Index and Text Search</li>
                <li>Roles and Security</li>
                <li>Comments</li>
                <ul><li>Creation</li><li>Deletion</li><li>Editing</li><li>Moderation</li></ul>
            </ul>
        </div>
    </div>
}
